body {
    background-color: black;
    color: white;
    font-family: "Space Mono", sans-serif;
}

.a-login {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.a-login:hover {
    color: #dc3545;
}

.card-border {
    border-radius: 30px;
}

.btn-default {
    border-radius: 20px;
}

.btn-outline {
    border: 1px solid #b4b4b4;
    border-radius: 20px;
}

.btn-outline:hover {
    border: 1px solid #dc3545;
}